/* Basscss Type Scale */
.h1 {
  font-size: 2rem; }

.h2 {
  font-size: 1.5rem; }

.h3 {
  font-size: 1.25rem; }

.h4 {
  font-size: 1rem; }

.h5 {
  font-size: 0.875rem; }

.h6 {
  font-size: 0.75rem; }

/* Basscss Typography */
.font-family-inherit {
  font-family: inherit; }

.font-size-inherit {
  font-size: inherit; }

.text-decoration-none {
  text-decoration: none; }

.bold {
  font-weight: bold; }

.regular {
  font-weight: normal; }

.italic {
  font-style: italic; }

.caps {
  text-transform: uppercase;
  letter-spacing: 0.2em; }

.left-align {
  text-align: left; }

.center {
  text-align: center; }

.right-align {
  text-align: right; }

.justify {
  text-align: justify; }

.nowrap {
  white-space: nowrap; }

.break-word {
  word-wrap: break-word; }

.line-height-1 {
  line-height: 1; }

.line-height-2 {
  line-height: 1.125; }

.line-height-3 {
  line-height: 1.25; }

.line-height-4 {
  line-height: 1.5; }

.list-style-none {
  list-style: none; }

.underline {
  text-decoration: underline; }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.list-reset {
  list-style: none;
  padding-left: 0; }

/* Basscss Layout */
.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.table {
  display: table; }

.table-cell {
  display: table-cell; }

.overflow-hidden {
  overflow: hidden; }

.overflow-scroll {
  overflow: scroll; }

.overflow-auto {
  overflow: auto; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.fit {
  max-width: 100%; }

.max-width-1 {
  max-width: 24rem; }

.max-width-2 {
  max-width: 32rem; }

.max-width-3 {
  max-width: 48rem; }

.max-width-4 {
  max-width: 64rem; }

.border-box {
  box-sizing: border-box; }

/* Basscss Align */
.align-baseline {
  vertical-align: baseline; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

/* Basscss Margin */
.m0 {
  margin: 0; }

.mt0 {
  margin-top: 0; }

.mr0 {
  margin-right: 0; }

.mb0 {
  margin-bottom: 0; }

.ml0 {
  margin-left: 0; }

.mx0 {
  margin-left: 0;
  margin-right: 0; }

.my0 {
  margin-top: 0;
  margin-bottom: 0; }

.m1 {
  margin: 5px; }

.mt1 {
  margin-top: 5px; }

.mr1 {
  margin-right: 5px; }

.mb1 {
  margin-bottom: 5px; }

.ml1 {
  margin-left: 5px; }

.mx1 {
  margin-left: 5px;
  margin-right: 5px; }

.my1 {
  margin-top: 5px;
  margin-bottom: 5px; }

.m2 {
  margin: 10px; }

.mt2 {
  margin-top: 10px; }

.mr2 {
  margin-right: 10px; }

.mb2 {
  margin-bottom: 10px; }

.ml2 {
  margin-left: 10px; }

.mx2 {
  margin-left: 10px;
  margin-right: 10px; }

.my2 {
  margin-top: 10px;
  margin-bottom: 10px; }

.m3 {
  margin: 20px; }

.mt3 {
  margin-top: 20px; }

.mr3 {
  margin-right: 20px; }

.mb3 {
  margin-bottom: 20px; }

.ml3 {
  margin-left: 20px; }

.mx3 {
  margin-left: 20px;
  margin-right: 20px; }

.my3 {
  margin-top: 20px;
  margin-bottom: 20px; }

.m4 {
  margin: 40px; }

.mt4 {
  margin-top: 40px; }

.mr4 {
  margin-right: 40px; }

.mb4 {
  margin-bottom: 40px; }

.ml4 {
  margin-left: 40px; }

.mx4 {
  margin-left: 40px;
  margin-right: 40px; }

.my4 {
  margin-top: 40px;
  margin-bottom: 40px; }

.mxn1 {
  margin-left: -5px;
  margin-right: -5px; }

.mxn2 {
  margin-left: -10px;
  margin-right: -10px; }

.mxn3 {
  margin-left: -20px;
  margin-right: -20px; }

.mxn4 {
  margin-left: -40px;
  margin-right: -40px; }

.ml-auto {
  margin-left: auto; }

.mr-auto {
  margin-right: auto; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

/* Basscss Padding */
.p0 {
  padding: 0; }

.pt0 {
  padding-top: 0; }

.pr0 {
  padding-right: 0; }

.pb0 {
  padding-bottom: 0; }

.pl0 {
  padding-left: 0; }

.px0 {
  padding-left: 0;
  padding-right: 0; }

.py0 {
  padding-top: 0;
  padding-bottom: 0; }

.p1 {
  padding: 5px; }

.pt1 {
  padding-top: 5px; }

.pr1 {
  padding-right: 5px; }

.pb1 {
  padding-bottom: 5px; }

.pl1 {
  padding-left: 5px; }

.py1 {
  padding-top: 5px;
  padding-bottom: 5px; }

.px1 {
  padding-left: 5px;
  padding-right: 5px; }

.p2 {
  padding: 10px; }

.pt2 {
  padding-top: 10px; }

.pr2 {
  padding-right: 10px; }

.pb2 {
  padding-bottom: 10px; }

.pl2 {
  padding-left: 10px; }

.py2 {
  padding-top: 10px;
  padding-bottom: 10px; }

.px2 {
  padding-left: 10px;
  padding-right: 10px; }

.p3 {
  padding: 20px; }

.pt3 {
  padding-top: 20px; }

.pr3 {
  padding-right: 20px; }

.pb3 {
  padding-bottom: 20px; }

.pl3 {
  padding-left: 20px; }

.py3 {
  padding-top: 20px;
  padding-bottom: 20px; }

.px3 {
  padding-left: 20px;
  padding-right: 20px; }

.p4 {
  padding: 40px; }

.pt4 {
  padding-top: 40px; }

.pr4 {
  padding-right: 40px; }

.pb4 {
  padding-bottom: 40px; }

.pl4 {
  padding-left: 40px; }

.py4 {
  padding-top: 40px;
  padding-bottom: 40px; }

.px4 {
  padding-left: 40px;
  padding-right: 40px; }

.flex, .flex-list {
  display: flex; }

@media (min-width: 35em) {
  .sm-flex {
    display: flex; } }

@media (min-width: 60em) {
  .md-flex {
    display: flex; } }

@media (min-width: 80em) {
  .lg-flex {
    display: flex; } }

.flex-column {
  flex-direction: column; }

.flex-wrap, .flex-list {
  flex-wrap: wrap; }

.items-start {
  align-items: flex-start; }

.items-end {
  align-items: flex-end; }

.items-center {
  align-items: center; }

.items-baseline {
  align-items: baseline; }

.items-stretch {
  align-items: stretch; }

.self-start {
  align-self: flex-start; }

.self-end {
  align-self: flex-end; }

.self-center {
  align-self: center; }

.self-baseline {
  align-self: baseline; }

.self-stretch {
  align-self: stretch; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around; }

.content-start {
  align-content: flex-start; }

.content-end {
  align-content: flex-end; }

.content-center {
  align-content: center; }

.content-between {
  align-content: space-between; }

.content-around {
  align-content: space-around; }

.content-stretch {
  align-content: stretch; }

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893 */
.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  /* 1 */
  min-height: 0;
  /* 1 */ }

.flex-none {
  flex: none; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-last {
  order: 99999; }

/* Basscss Position */
.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.top-0 {
  top: 0; }

.right-0 {
  right: 0; }

.bottom-0 {
  bottom: 0; }

.left-0 {
  left: 0; }

.z1 {
  z-index: 1; }

.z2 {
  z-index: 2; }

.z3 {
  z-index: 3; }

.z4 {
  z-index: 4; }

/* Basscss Border */
.border {
  border-style: solid;
  border-width: 1px; }

.border-top {
  border-top-style: solid;
  border-top-width: 1px; }

.border-right {
  border-right-style: solid;
  border-right-width: 1px; }

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px; }

.border-left {
  border-left-style: solid;
  border-left-width: 1px; }

.border-none {
  border: 0; }

.rounded {
  border-radius: 3px; }

.circle {
  border-radius: 50%; }

.rounded-top {
  border-radius: 3px 3px 0 0; }

.rounded-right {
  border-radius: 0 3px 3px 0; }

.rounded-bottom {
  border-radius: 0 0 3px 3px; }

.rounded-left {
  border-radius: 3px 0 0 3px; }

.not-rounded {
  border-radius: 0; }

/* Basscss Hide */
.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

@media (max-width: 40em) {
  .xs-hide {
    display: none !important; } }

@media (min-width: 40em) and (max-width: 52em) {
  .sm-hide {
    display: none !important; } }

@media (min-width: 52em) and (max-width: 64em) {
  .md-hide {
    display: none !important; } }

@media (min-width: 80em) {
  .lg-hide {
    display: none !important; } }

.display-none {
  display: none !important; }

/* Basscss All */
.all-initial {
  all: initial; }

.all-unset {
  all: unset; }

.all-inherit {
  all: inherit; }

/* Basscss Background Colors */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
.bg-black {
  background-color: #000; }

.bg-gray {
  background-color: #aaa; }

.bg-silver {
  background-color: #ddd; }

.bg-white {
  background-color: #fff; }

.bg-aqua {
  background-color: #4cbae2; }

.bg-blue {
  background-color: #0074d9; }

.bg-navy {
  background-color: #0b4f6c; }

.bg-teal {
  background-color: #39cccc; }

.bg-green {
  background-color: #20bf55; }

.bg-olive {
  background-color: #3d9970; }

.bg-lime {
  background-color: #01ff70; }

.bg-yellow {
  background-color: #ffdc00; }

.bg-orange {
  background-color: #ff851b; }

.bg-red {
  background-color: #ff4136; }

.bg-fuchsia {
  background-color: #f012be; }

.bg-purple {
  background-color: #b10dc9; }

.bg-maroon {
  background-color: #85144b; }

/* Basscss Background Images */
.bg-cover {
  background-size: cover; }

.bg-contain {
  background-size: contain; }

.bg-center {
  background-position: center; }

.bg-top {
  background-position: top; }

.bg-right {
  background-position: right; }

.bg-bottom {
  background-position: bottom; }

.bg-left {
  background-position: left; }

/* Basscss Border Colors */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
.border-black {
  border-color: #000; }

.border-gray {
  border-color: #aaa; }

.border-silver {
  border-color: #ddd; }

.border-white {
  border-color: #fff; }

.border-aqua {
  border-color: #4cbae2; }

.border-blue {
  border-color: #0074d9; }

.border-navy {
  border-color: #0b4f6c; }

.border-teal {
  border-color: #39cccc; }

.border-green {
  border-color: #20bf55; }

.border-olive {
  border-color: #3d9970; }

.border-lime {
  border-color: #01ff70; }

.border-yellow {
  border-color: #ffdc00; }

.border-orange {
  border-color: #ff851b; }

.border-red {
  border-color: #ff4136; }

.border-fuchsia {
  border-color: #f012be; }

.border-purple {
  border-color: #b10dc9; }

.border-maroon {
  border-color: #85144b; }

/* Basscss Colors */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
.black {
  color: #000; }

.gray {
  color: #aaa; }

.silver {
  color: #ddd; }

.white {
  color: #fff; }

.aqua {
  color: #4cbae2; }

.blue {
  color: #0074d9; }

.navy {
  color: #0b4f6c; }

.teal {
  color: #39cccc; }

.green {
  color: #20bf55; }

.olive {
  color: #3d9970; }

.lime {
  color: #01ff70; }

.yellow {
  color: #ffdc00; }

.orange {
  color: #ff851b; }

.red {
  color: #ff4136; }

.fuchsia {
  color: #f012be; }

.purple {
  color: #b10dc9; }

.maroon {
  color: #85144b; }

.color-inherit {
  color: inherit; }

.muted {
  opacity: .5; }

/* Basscss Darken */
.bg-darken-1 {
  background-color: rgba(0, 0, 0, 0.0625); }

.bg-darken-2 {
  background-color: rgba(0, 0, 0, 0.125); }

.bg-darken-3 {
  background-color: rgba(0, 0, 0, 0.25); }

.bg-darken-4 {
  background-color: rgba(0, 0, 0, 0.5); }

  /* Basscss Responsive Margin */
  @media (min-width: 35em) {
    .sm-m0 {
      margin: 0; }
    .sm-mt0 {
      margin-top: 0; }
    .sm-mr0 {
      margin-right: 0; }
    .sm-mb0 {
      margin-bottom: 0; }
    .sm-ml0 {
      margin-left: 0; }
    .sm-mx0 {
      margin-left: 0;
      margin-right: 0; }
    .sm-my0 {
      margin-top: 0;
      margin-bottom: 0; }
    .sm-m1 {
      margin: 5px; }
    .sm-mt1 {
      margin-top: 5px; }
    .sm-mr1 {
      margin-right: 5px; }
    .sm-mb1 {
      margin-bottom: 5px; }
    .sm-ml1 {
      margin-left: 5px; }
    .sm-mx1 {
      margin-left: 5px;
      margin-right: 5px; }
    .sm-my1 {
      margin-top: 5px;
      margin-bottom: 5px; }
    .sm-m2 {
      margin: 10px; }
    .sm-mt2 {
      margin-top: 10px; }
    .sm-mr2 {
      margin-right: 10px; }
    .sm-mb2 {
      margin-bottom: 10px; }
    .sm-ml2 {
      margin-left: 10px; }
    .sm-mx2 {
      margin-left: 10px;
      margin-right: 10px; }
    .sm-my2 {
      margin-top: 10px;
      margin-bottom: 10px; }
    .sm-m3 {
      margin: 20px; }
    .sm-mt3 {
      margin-top: 20px; }
    .sm-mr3 {
      margin-right: 20px; }
    .sm-mb3 {
      margin-bottom: 20px; }
    .sm-ml3 {
      margin-left: 20px; }
    .sm-mx3 {
      margin-left: 20px;
      margin-right: 20px; }
    .sm-my3 {
      margin-top: 20px;
      margin-bottom: 20px; }
    .sm-m4 {
      margin: 40px; }
    .sm-mt4 {
      margin-top: 40px; }
    .sm-mr4 {
      margin-right: 40px; }
    .sm-mb4 {
      margin-bottom: 40px; }
    .sm-ml4 {
      margin-left: 40px; }
    .sm-mx4 {
      margin-left: 40px;
      margin-right: 40px; }
    .sm-my4 {
      margin-top: 40px;
      margin-bottom: 40px; }
    .sm-mxn1 {
      margin-left: -5px;
      margin-right: -5px; }
    .sm-mxn2 {
      margin-left: -10px;
      margin-right: -10px; }
    .sm-mxn3 {
      margin-left: -20px;
      margin-right: -20px; }
    .sm-mxn4 {
      margin-left: -40px;
      margin-right: -40px; }
    .sm-ml-auto {
      margin-left: auto; }
    .sm-mr-auto {
      margin-right: auto; }
    .sm-mx-auto {
      margin-left: auto;
      margin-right: auto; } }

  @media (min-width: 60em) {
    .md-m0 {
      margin: 0; }
    .md-mt0 {
      margin-top: 0; }
    .md-mr0 {
      margin-right: 0; }
    .md-mb0 {
      margin-bottom: 0; }
    .md-ml0 {
      margin-left: 0; }
    .md-mx0 {
      margin-left: 0;
      margin-right: 0; }
    .md-my0 {
      margin-top: 0;
      margin-bottom: 0; }
    .md-m1 {
      margin: 5px; }
    .md-mt1 {
      margin-top: 5px; }
    .md-mr1 {
      margin-right: 5px; }
    .md-mb1 {
      margin-bottom: 5px; }
    .md-ml1 {
      margin-left: 5px; }
    .md-mx1 {
      margin-left: 5px;
      margin-right: 5px; }
    .md-my1 {
      margin-top: 5px;
      margin-bottom: 5px; }
    .md-m2 {
      margin: 10px; }
    .md-mt2 {
      margin-top: 10px; }
    .md-mr2 {
      margin-right: 10px; }
    .md-mb2 {
      margin-bottom: 10px; }
    .md-ml2 {
      margin-left: 10px; }
    .md-mx2 {
      margin-left: 10px;
      margin-right: 10px; }
    .md-my2 {
      margin-top: 10px;
      margin-bottom: 10px; }
    .md-m3 {
      margin: 20px; }
    .md-mt3 {
      margin-top: 20px; }
    .md-mr3 {
      margin-right: 20px; }
    .md-mb3 {
      margin-bottom: 20px; }
    .md-ml3 {
      margin-left: 20px; }
    .md-mx3 {
      margin-left: 20px;
      margin-right: 20px; }
    .md-my3 {
      margin-top: 20px;
      margin-bottom: 20px; }
    .md-m4 {
      margin: 40px; }
    .md-mt4 {
      margin-top: 40px; }
    .md-mr4 {
      margin-right: 40px; }
    .md-mb4 {
      margin-bottom: 40px; }
    .md-ml4 {
      margin-left: 40px; }
    .md-mx4 {
      margin-left: 40px;
      margin-right: 40px; }
    .md-my4 {
      margin-top: 40px;
      margin-bottom: 40px; }
    .md-mxn1 {
      margin-left: -5px;
      margin-right: -5px; }
    .md-mxn2 {
      margin-left: -10px;
      margin-right: -10px; }
    .md-mxn3 {
      margin-left: -20px;
      margin-right: -20px; }
    .md-mxn4 {
      margin-left: -40px;
      margin-right: -40px; }
    .md-ml-auto {
      margin-left: auto; }
    .md-mr-auto {
      margin-right: auto; }
    .md-mx-auto {
      margin-left: auto;
      margin-right: auto; } }

  @media (min-width: 80em) {
    .lg-m0 {
      margin: 0; }
    .lg-mt0 {
      margin-top: 0; }
    .lg-mr0 {
      margin-right: 0; }
    .lg-mb0 {
      margin-bottom: 0; }
    .lg-ml0 {
      margin-left: 0; }
    .lg-mx0 {
      margin-left: 0;
      margin-right: 0; }
    .lg-my0 {
      margin-top: 0;
      margin-bottom: 0; }
    .lg-m1 {
      margin: 5px; }
    .lg-mt1 {
      margin-top: 5px; }
    .lg-mr1 {
      margin-right: 5px; }
    .lg-mb1 {
      margin-bottom: 5px; }
    .lg-ml1 {
      margin-left: 5px; }
    .lg-mx1 {
      margin-left: 5px;
      margin-right: 5px; }
    .lg-my1 {
      margin-top: 5px;
      margin-bottom: 5px; }
    .lg-m2 {
      margin: 10px; }
    .lg-mt2 {
      margin-top: 10px; }
    .lg-mr2 {
      margin-right: 10px; }
    .lg-mb2 {
      margin-bottom: 10px; }
    .lg-ml2 {
      margin-left: 10px; }
    .lg-mx2 {
      margin-left: 10px;
      margin-right: 10px; }
    .lg-my2 {
      margin-top: 10px;
      margin-bottom: 10px; }
    .lg-m3 {
      margin: 20px; }
    .lg-mt3 {
      margin-top: 20px; }
    .lg-mr3 {
      margin-right: 20px; }
    .lg-mb3 {
      margin-bottom: 20px; }
    .lg-ml3 {
      margin-left: 20px; }
    .lg-mx3 {
      margin-left: 20px;
      margin-right: 20px; }
    .lg-my3 {
      margin-top: 20px;
      margin-bottom: 20px; }
    .lg-m4 {
      margin: 40px; }
    .lg-mt4 {
      margin-top: 40px; }
    .lg-mr4 {
      margin-right: 40px; }
    .lg-mb4 {
      margin-bottom: 40px; }
    .lg-ml4 {
      margin-left: 40px; }
    .lg-mx4 {
      margin-left: 40px;
      margin-right: 40px; }
    .lg-my4 {
      margin-top: 40px;
      margin-bottom: 40px; }
    .lg-mxn1 {
      margin-left: -5px;
      margin-right: -5px; }
    .lg-mxn2 {
      margin-left: -10px;
      margin-right: -10px; }
    .lg-mxn3 {
      margin-left: -20px;
      margin-right: -20px; }
    .lg-mxn4 {
      margin-left: -40px;
      margin-right: -40px; }
    .lg-ml-auto {
      margin-left: auto; }
    .lg-mr-auto {
      margin-right: auto; }
    .lg-mx-auto {
      margin-left: auto;
      margin-right: auto; } }

  /* Basscss Responsive Padding */
  @media (min-width: 35em) {
    .sm-p0 {
      padding: 0; }
    .sm-pt0 {
      padding-top: 0; }
    .sm-pr0 {
      padding-right: 0; }
    .sm-pb0 {
      padding-bottom: 0; }
    .sm-pl0 {
      padding-left: 0; }
    .sm-px0 {
      padding-left: 0;
      padding-right: 0; }
    .sm-py0 {
      padding-top: 0;
      padding-bottom: 0; }
    .sm-p1 {
      padding: 5px; }
    .sm-pt1 {
      padding-top: 5px; }
    .sm-pr1 {
      padding-right: 5px; }
    .sm-pb1 {
      padding-bottom: 5px; }
    .sm-pl1 {
      padding-left: 5px; }
    .sm-px1 {
      padding-left: 5px;
      padding-right: 5px; }
    .sm-py1 {
      padding-top: 5px;
      padding-bottom: 5px; }
    .sm-p2 {
      padding: 10px; }
    .sm-pt2 {
      padding-top: 10px; }
    .sm-pr2 {
      padding-right: 10px; }
    .sm-pb2 {
      padding-bottom: 10px; }
    .sm-pl2 {
      padding-left: 10px; }
    .sm-px2 {
      padding-left: 10px;
      padding-right: 10px; }
    .sm-py2 {
      padding-top: 10px;
      padding-bottom: 10px; }
    .sm-p3 {
      padding: 20px; }
    .sm-pt3 {
      padding-top: 20px; }
    .sm-pr3 {
      padding-right: 20px; }
    .sm-pb3 {
      padding-bottom: 20px; }
    .sm-pl3 {
      padding-left: 20px; }
    .sm-px3 {
      padding-left: 20px;
      padding-right: 20px; }
    .sm-py3 {
      padding-top: 20px;
      padding-bottom: 20px; }
    .sm-p4 {
      padding: 40px; }
    .sm-pt4 {
      padding-top: 40px; }
    .sm-pr4 {
      padding-right: 40px; }
    .sm-pb4 {
      padding-bottom: 40px; }
    .sm-pl4 {
      padding-left: 40px; }
    .sm-px4 {
      padding-left: 40px;
      padding-right: 40px; }
    .sm-py4 {
      padding-top: 40px;
      padding-bottom: 40px; } }

  @media (min-width: 60em) {
    .md-p0 {
      padding: 0; }
    .md-pt0 {
      padding-top: 0; }
    .md-pr0 {
      padding-right: 0; }
    .md-pb0 {
      padding-bottom: 0; }
    .md-pl0 {
      padding-left: 0; }
    .md-px0 {
      padding-left: 0;
      padding-right: 0; }
    .md-py0 {
      padding-top: 0;
      padding-bottom: 0; }
    .md-p1 {
      padding: 5px; }
    .md-pt1 {
      padding-top: 5px; }
    .md-pr1 {
      padding-right: 5px; }
    .md-pb1 {
      padding-bottom: 5px; }
    .md-pl1 {
      padding-left: 5px; }
    .md-px1 {
      padding-left: 5px;
      padding-right: 5px; }
    .md-py1 {
      padding-top: 5px;
      padding-bottom: 5px; }
    .md-p2 {
      padding: 10px; }
    .md-pt2 {
      padding-top: 10px; }
    .md-pr2 {
      padding-right: 10px; }
    .md-pb2 {
      padding-bottom: 10px; }
    .md-pl2 {
      padding-left: 10px; }
    .md-px2 {
      padding-left: 10px;
      padding-right: 10px; }
    .md-py2 {
      padding-top: 10px;
      padding-bottom: 10px; }
    .md-p3 {
      padding: 20px; }
    .md-pt3 {
      padding-top: 20px; }
    .md-pr3 {
      padding-right: 20px; }
    .md-pb3 {
      padding-bottom: 20px; }
    .md-pl3 {
      padding-left: 20px; }
    .md-px3 {
      padding-left: 20px;
      padding-right: 20px; }
    .md-py3 {
      padding-top: 20px;
      padding-bottom: 20px; }
    .md-p4 {
      padding: 40px; }
    .md-pt4 {
      padding-top: 40px; }
    .md-pr4 {
      padding-right: 40px; }
    .md-pb4 {
      padding-bottom: 40px; }
    .md-pl4 {
      padding-left: 40px; }
    .md-px4 {
      padding-left: 40px;
      padding-right: 40px; }
    .md-py4 {
      padding-top: 40px;
      padding-bottom: 40px; } }

  @media (min-width: 80em) {
    .lg-p0 {
      padding: 0; }
    .lg-pt0 {
      padding-top: 0; }
    .lg-pr0 {
      padding-right: 0; }
    .lg-pb0 {
      padding-bottom: 0; }
    .lg-pl0 {
      padding-left: 0; }
    .lg-px0 {
      padding-left: 0;
      padding-right: 0; }
    .lg-py0 {
      padding-top: 0;
      padding-bottom: 0; }
    .lg-p1 {
      padding: 5px; }
    .lg-pt1 {
      padding-top: 5px; }
    .lg-pr1 {
      padding-right: 5px; }
    .lg-pb1 {
      padding-bottom: 5px; }
    .lg-pl1 {
      padding-left: 5px; }
    .lg-px1 {
      padding-left: 5px;
      padding-right: 5px; }
    .lg-py1 {
      padding-top: 5px;
      padding-bottom: 5px; }
    .lg-p2 {
      padding: 10px; }
    .lg-pt2 {
      padding-top: 10px; }
    .lg-pr2 {
      padding-right: 10px; }
    .lg-pb2 {
      padding-bottom: 10px; }
    .lg-pl2 {
      padding-left: 10px; }
    .lg-px2 {
      padding-left: 10px;
      padding-right: 10px; }
    .lg-py2 {
      padding-top: 10px;
      padding-bottom: 10px; }
    .lg-p3 {
      padding: 20px; }
    .lg-pt3 {
      padding-top: 20px; }
    .lg-pr3 {
      padding-right: 20px; }
    .lg-pb3 {
      padding-bottom: 20px; }
    .lg-pl3 {
      padding-left: 20px; }
    .lg-px3 {
      padding-left: 20px;
      padding-right: 20px; }
    .lg-py3 {
      padding-top: 20px;
      padding-bottom: 20px; }
    .lg-p4 {
      padding: 40px; }
    .lg-pt4 {
      padding-top: 40px; }
    .lg-pr4 {
      padding-right: 40px; }
    .lg-pb4 {
      padding-bottom: 40px; }
    .lg-pl4 {
      padding-left: 40px; }
    .lg-px4 {
      padding-left: 40px;
      padding-right: 40px; }
    .lg-py4 {
      padding-top: 40px;
      padding-bottom: 40px; } }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.4;
    font-weight: 500; }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    color: inherit;
    line-height: 1.1; }

  a {
    color: #0074d9;
    text-decoration: none; }
    a:visited {
      color: #0074d9; }

  h5,
  .h5 {
    font-size: 1.1em; }

  h4,
  .h4 {
    font-size: 1.4em; }

  h3,
  .h3 {
    font-size: 1.68em; }

  h2,
  .h2 {
    font-size: 2.1em; }

  h1,
  .h1 {
    font-size: 2.38em; }

  .h0 {
    font-size: 2.66em; }

  .h00 {
    font-size: 3.08em; }

  @media (min-width: 35em) and (max-width: 60em) {
    h5,
    .h5 {
      font-size: 0.8em; }
    h4,
    .h4 {
      font-size: 1.2em; }
    h3,
    .h3 {
      font-size: 1.44em; }
    h2,
    .h2 {
      font-size: 1.8em; }
    h1,
    .h1 {
      font-size: 2.04em; }
    .h0 {
      font-size: 2.28em; }
    .h00 {
      font-size: 2.64em; } }

  @media (max-width: 35em) {
    h5,
    .h5 {
      font-size: 0.9em; }
    h4,
    .h4 {
      font-size: 1em; }
    h3,
    .h3 {
      font-size: 1.2em; }
    h2,
    .h2 {
      font-size: 1.5em; }
    h1,
    .h1 {
      font-size: 1.7em; }
    .h0 {
      font-size: 1.9em; }
    .h00 {
      font-size: 2.2em; } }

  .bigger1 {
    font-size: 1.1em; }

  .bigger2 {
    font-size: 1.2em; }

  .bigger3 {
    font-size: 1.3em; }

  .bigger4 {
    font-size: 1.4em; }

  .bigger5 {
    font-size: 1.5em; }

  .bigger5 {
    font-size: 1.5em; }

  .bigger6 {
    font-size: 1.6em; }

  .bigger7 {
    font-size: 1.7em; }

  .smaller1 {
    font-size: 0.9em; }

  .smaller2, .subtle {
    font-size: 0.8em; }

  .smaller3 {
    font-size: 0.7em; }

  .smaller4 {
    font-size: 0.6em; }

  .smaller5 {
    font-size: 0.5em; }

  .lh0 {
    line-height: 0; }

  .lh1 {
    line-height: 1; }

  .lh1-1 {
    line-height: 1.1; }

  .lh2 {
    line-height: 2; }

  .subtle {
    color: rgba(0, 0, 0, 0.6); }

  .subtitle,
  .subtitle a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 0.9rem; }

  .upcase {
    text-transform: uppercase; }

  .nocase {
    text-transform: none; }

  .thin {
    font-weight: 300; }

  .normal {
    font-weight: 500; }

  .thick,
  b {
    font-weight: bold; }

  .thicker {
    font-weight: bolder; }

  .readable img {
    width: 100%;
    box-shadow: 10px 10px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid #aaa;
    border-radius: 2px;
    -webkit-border-radius: 2px; }

  .readable h2 {
    margin-bottom: 20px;
    margin-top: 40px; }

  .readable blockquote {
    display: block;
    border-left: 2px solid #aaa;
    padding-left: 20px;
    font-size: 1.1rem;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
    text-indent: 40px; }
    .readable blockquote > div {
      position: relative; }
      .readable blockquote > div:before, .readable blockquote > div:after {
        font-family: Font Awesome\ 5 Free;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-weight: 900;
        font-size: 0.8rem;
        opacity: 0.8;
        text-indent: 0; }
      .readable blockquote > div:before {
        content: "\f10d";
        left: 0;
        position: absolute; }
      .readable blockquote > div:after {
        content: "\f10e";
        position: relative;
        right: -30px;
        top: 5px; }
    .readable blockquote footer {
      text-indent: 0;
      margin-top: 20px;
      font-size: 1rem; }

  @media (min-width: 35em) {
    .sm-center {
      text-align: center !important; }
    .sm-left-align {
      text-align: left !important; }
    .sm-right-align {
      text-align: right !important; }
    .readable {
      text-align: justify;
      font-size: 1.1rem; }
      .readable h1,
      .readable h2,
      .readable h3,
      .readable h4 {
        text-align: left;
        line-height: 1.3; } }

  @media (min-width: 60em) {
    .md-center {
      text-align: center !important; }
    .md-left-align {
      text-align: left !important; }
    .md-right-align {
      text-align: right !important; }
    .readable h2:before {
      height: 28px; }
    .readable blockquote {
      margin-left: -80px;
      padding-left: 40px;
      font-size: 1.8rem;
      line-height: 1.3; } }

  @media (min-width: 80em) {
    .lg-center {
      text-align: center !important; }
    .lg-left-align {
      text-align: left !important; }
    .lg-right-align {
      text-align: right !important; } }

  .jellybean {
    color: #2a8da5; }

  .bg-jellybean {
    background-color: #2a8da5; }

  .tropaz {
    color: #1a4e71; }

  .bg-tropaz {
    background-color: #1a4e71; }

  .neptune {
    color: #7abfbc; }

  .bg-neptune {
    background-color: #7abfbc; }

  .container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }

  .container-narrow {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto; }

  .container-narrower {
    width: 100%;
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }

  .container-wide {
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto; }
