/* Custom */

body {
  font-family: "Palatino";
  color: black;
}

button,
.btn {
  font-size: 1rem;
  cursor: pointer !important; }

.btn {
  overflow: hidden;
  text-align: center;
  line-height: 1.3;
  background: transparent;
  border: 1.5px solid black;
  color: black;
  border-radius: 0.5*15vw;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25em;
  width: 25vw;
  height: 8vh;
  background: white;
  display: inline-block;
  transition: all 0.2s;
  -webkit-transition: all 0.2s; }
  .btn:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }

.card-container {
  height: 40vh;
}

.card {
  width: 80%;
  height: auto;
}
